<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.seatunnel.web.dao.mapper.StreamingJobTableMetricsCurrentMapper">

    <insert id="upsertBatch">
        INSERT INTO t_seatunnel_streaming_job_table_metrics_current (
        job_instance_id,
        job_definition_id,
        engine_job_id,
        client_id,
        pipeline_id,
        source_table,
        sink_table,
        table_key,
        table_key_hash,
        read_row_count,
        write_row_count,
        read_qps,
        write_qps,
        read_bytes,
        write_bytes,
        read_bps,
        write_bps,
        status,
        error_msg,
        last_collect_time_ms,
        last_collect_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.jobInstanceId},
            #{item.jobDefinitionId},
            #{item.engineJobId},
            #{item.clientId},
            #{item.pipelineId},
            #{item.sourceTable},
            #{item.sinkTable},
            #{item.tableKey},
            #{item.tableKeyHash},
            #{item.readRowCount},
            #{item.writeRowCount},
            #{item.readQps},
            #{item.writeQps},
            #{item.readBytes},
            #{item.writeBytes},
            #{item.readBps},
            #{item.writeBps},
            #{item.status},
            #{item.errorMsg},
            #{item.lastCollectTimeMs},
            #{item.lastCollectTime}
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        job_definition_id = VALUES(job_definition_id),
        engine_job_id = VALUES(engine_job_id),
        client_id = VALUES(client_id),
        source_table = VALUES(source_table),
        sink_table = VALUES(sink_table),
        table_key = VALUES(table_key),
        read_row_count = VALUES(read_row_count),
        write_row_count = VALUES(write_row_count),
        read_qps = VALUES(read_qps),
        write_qps = VALUES(write_qps),
        read_bytes = VALUES(read_bytes),
        write_bytes = VALUES(write_bytes),
        read_bps = VALUES(read_bps),
        write_bps = VALUES(write_bps),
        status = VALUES(status),
        error_msg = VALUES(error_msg),
        last_collect_time_ms = VALUES(last_collect_time_ms),
        last_collect_time = VALUES(last_collect_time),
        update_time = CURRENT_TIMESTAMP
    </insert>

</mapper>