<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.apache.seatunnel.web.dao.mapper.StreamingJobMetricsCurrentMapper">

    <insert id="upsert"
            parameterType="org.apache.seatunnel.web.dao.entity.StreamingJobMetricsCurrent">
        INSERT INTO t_seatunnel_streaming_job_metrics_current (
        job_instance_id,
        job_definition_id,
        engine_job_id,
        client_id,
        job_status,
        read_row_count,
        write_row_count,
        read_qps,
        write_qps,
        read_bytes,
        write_bytes,
        read_bps,
        write_bps,
        intermediate_queue_size,
        lag_count,
        record_delay,
        pipeline_count,
        table_count,
        last_collect_time_ms,
        last_collect_time
        ) VALUES (
        #{jobInstanceId},
        #{jobDefinitionId},
        #{engineJobId},
        #{clientId},
        #{jobStatus},
        #{readRowCount},
        #{writeRowCount},
        #{readQps},
        #{writeQps},
        #{readBytes},
        #{writeBytes},
        #{readBps},
        #{writeBps},
        #{intermediateQueueSize},
        #{lagCount},
        #{recordDelay},
        #{pipelineCount},
        #{tableCount},
        #{lastCollectTimeMs},
        #{lastCollectTime}
        )
        ON DUPLICATE KEY UPDATE
        job_definition_id = VALUES(job_definition_id),
        engine_job_id = VALUES(engine_job_id),
        client_id = VALUES(client_id),
        job_status = VALUES(job_status),
        read_row_count = VALUES(read_row_count),
        write_row_count = VALUES(write_row_count),
        read_qps = VALUES(read_qps),
        write_qps = VALUES(write_qps),
        read_bytes = VALUES(read_bytes),
        write_bytes = VALUES(write_bytes),
        read_bps = VALUES(read_bps),
        write_bps = VALUES(write_bps),
        intermediate_queue_size = VALUES(intermediate_queue_size),
        lag_count = VALUES(lag_count),
        record_delay = VALUES(record_delay),
        pipeline_count = VALUES(pipeline_count),
        table_count = VALUES(table_count),
        last_collect_time_ms = VALUES(last_collect_time_ms),
        last_collect_time = VALUES(last_collect_time),
        update_time = CURRENT_TIMESTAMP
    </insert>

</mapper>